body{
	background-color: #F0F8FF;
	margin-right: 10%;
	margin-left: 10%;
}

	p{
	font-size: 24px;
	font-family: arial;
	border-style: ridge;
}

	h1{
	color: #008080;
	font-family: lucida handwriting;
	font-size: 60px;
	text-align: center;
	border-style: outset;
}

	h2{
	color: #20B2AA;
	font-family: cursive, arial;
	font-size: 40px;
	text-align: center;
}

	figure{
	text-align: center; 
	}


	a:hover{
	color: #8B4513	
	}